<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${title}">title</title>
</head>
<style>
h1 {
	font-size: 18pt;
	font-weight: bold;
	color: gray;
}

body {
	font-size: 13pt;
	color: gray;
	margin: 5px 25px;
}

.btn {
	border-radius: 5px;
	background-color: lightblue;
	padding: 10px;
	text-decoration: none;
	color: white;
}
</style>
<body th:object="${search}">
	<h1 th:text="${title}">title</h1>
	<p>「検索」「登録」から行いたい操作を選んでください。</p>
	<a href="/search" class="btn">検索</a>
	<a href="/register" class="btn">登録</a>
</body>
</html>