<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${title}">title</title>
</head>
<style>
  h1 {font-size: 18pt; font-weight: bold; color: gray;}
  body {font-size: 13pt; color: gray; margin: 5px 25px;}
</style>
<body th:object="${search}">
  <h1 th:text="${title}">title</h1>
  <p>登録する社員情報を入力してください</p>
  <table>
	  <form th:action="@{/register/id_employee}" th:object="${employee}"  method="post">
	    <tr><td><label for="name">名前</label></td>
	    <td><input type="text" name="name" /></td></tr>
      <tr><td><label for="age">年齢</label></td>
      <td><input type="text" name="age" /></td></tr>
      <tr><td><label for="email">メールアドレス</label></td>
      <td><input type="text" name="email" /></td></tr>
      <tr><td></td>
      <td><input type="submit" value="送信" /></td></tr>
	  </form>
  </table>

<div th:if="${employee}">
    <table th:object="${employee}">
      <tr>
        <th>社員番号</th>
        <th>名前</th>
        <th>年齢</th>
        <th>メールアドレス</th>
      </tr>
      <tr>
        <td th:text="*{id}"></td>
        <td th:text="*{name}"></td>
        <td th:text="*{age}"></td>
        <td th:text="*{email}"></td>
      </tr>
    </table>
  </div>
</body>
</html>