<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${title}">タイトル</title>
</head>
<style>
h1 {
	font-size: 18pt;
	font-weight: bold;
	color: gray;
}

body {
	font-size: 13pt;
	color: gray;
	margin: 5px 25px;
}

tr {
	margin: 5px;
}

th {
	padding: 5px;
	color: white;
	background: darkgray;
}

td {
	padding: 5px;
	color: gray;
	background: #f0f0f0;
}

.btn {
	border-radius: 5px;
	background-color: lightblue;
	padding: 10px;
	text-decoration: none;
	color: white;
}

table {
  margin: 5px;
}
</style>
<body>
	<h1>社員番号を入力してください。</h1>
	<form th:action="@{/search/result}" th:object="${userSearchRequest}"
		method="post">
		<input type="text" name="id" /> <input type="submit" value="検索" />
	</form>

	<p>検索結果</p>
	<div  th:object="${employee}">
		<table>
			<tr>
				<th>社員番号</th>
				<th>名前</th>
				<th>年齢</th>
				<th>メールアドレス</th>
			</tr>
			<tr>
				<td th:text="*{id}">Ï</td>
				<td th:text="*{name}"></td>
				<td th:text="*{age}"></td>
				<td th:text="*{email}"></td>
			</tr>
		</table>
		<a th:href="@{/employee/{id}/edit(id=*{id})}" class="btn">更新</a>
		<a th:href="@{/employee/{id}/delete(id=*{id})}" class="btn">削除</a>
	</div>
</body>
</html>